<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>
    <title>Report</title>
    <style>
        {{ css_content | safe }}
    </style>
</head>
<body>
    <h1>{{ description_data.title }}</h1>
    <p><strong>Data generowania:</strong> {{ description_data.date }}</p>
    <p><strong>Nazwa skryptu:</strong> {{ description_data.script_name }}</p>
    <p><strong>Opis danych:</strong> {{ description_data.description }}</p>
    
    <hr>

    <h2>Tables:</h2>
    {% for title, table_html in table_data.items() %}
        <h3>{{ loop.index }}. {{ title }}</h3>
        <div class="table-container">
            {{ table_html | safe }}
        </div>
    {% endfor %}

    {% if custom %}
    <hr>

    <h2>Custom Accuracy Metric:</h2>
    <h3>Formula:</h3>
    <div class="formula-container">
        {{ custom.formula | safe }}
    </div>

    <h3>Table:</h3>
    <div class="table-container">
      {{ custom.table | safe }}
    </div>
    {% endif %}
</body>
</html>

