/* Globalne ustawienia */
body {
    background-color: #b3ad8d;
    font-family: Arial, sans-serif;
    font-size: 120%;
    margin: 0;
    padding: 0;
    margin-left: 2cm;
    margin-right: 2cm;
}

h1, h2, h3 {
    color: #333;
}

h3 {
    margin-top: 1em;
}

/* Kontener dla tabeli */
.table-container {
    display: flex; /* Flexbox dla wyrównania */
    justify-content: flex-start; /* Tabela wyrównana do lewej */
    padding-left: 5cm; /* Przesunięcie tabeli o 3 cm */
    padding-right: 1cm; /* Zachowanie marginesu z prawej */
    margin: 20px 0; /* Odstęp między kontenerem a resztą zawartości */
}

/* Stylowanie tabeli */
table {
    width: auto;
    max-width: 100%;
    background-color: #f2f2f2;
    border-collapse: collapse;
    margin: 0; /* Wyłącz automatyczne centrowanie tabeli */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    table-layout: auto;
}

table, th, td {
    border: 1px solid #888;
}

th {
    background-color: #d9d7bd;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    padding: 8px;
    white-space: nowrap;
}

td {
    background-color: #eaeaea;
    padding: 8px;
    text-align: center;
    font-size: 0.85em;
    white-space: nowrap;
}


/* Stylowanie równania własnej metryki */
.formula-container {
    display: flex; /* Użycie Flexbox do wyrównania */
    justify-content: flex-start; /* Wyrównanie do lewej */
    padding-left: 5cm; /* Przesunięcie o 3 cm od lewej krawędzi */
    padding-right: 1cm; /* Opcjonalny margines z prawej */
    margin: 20px 0; /* Odstęp od elementów powyżej i poniżej */
    font-size: 0.75em; /* Zmniejszenie rozmiaru czcionki */
    line-height: 1.5; /* Poprawa czytelności */
}


